.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, #f6a103, #ec0808);
    transform: translate(-50%, -50%);
    pointer-events:none;
    z-index: 9999;
  }